<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <td>User</td>
        <td>Post</td>
        <td>View</td>
        <td></td>
        <td></td>
    </tr>
    </thead>
    <tr th:each="task : ${pending}">
        <td th:text="${task.user.name}"></td>
        <td th:text="${task.postText}"></td>
        <td><a  th:href="@{'/admin/pendingPosts/view/'+ ${task.id}}" > View Post</a></td>
        <td>
            <form th:action="@{'/admin/pendingPosts/approve/'+ ${task.id}}" method="post">
                <div style="display: inline-block"><input type="submit" value="Approve" name="action"></div>
            </form>
        </td>
        <td>
            <form th:action="@{'/admin/pendingPosts/reject/'+ ${task.id}}" method="post">
                <div style="display: inline-block"><input type="submit" value="Reject" name="action"></div>
            </form>
        </td>
    </tr>
</table>



</body>
</html>