<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Posts View</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h2 th:text="#{Posts.View}">Posts View</h2>
    <div >

        <div class="card">

            <div class="card-header"><h5  th:text="${item.user.name}"></h5></div>

            <div class="card-body">

                <br>
                <p class="card-text" th:text="${item.postText}">

                    <br>


            </div>
            <div class="card-footer" style="display: inline-block">

                <div style="display: inline-block">
                    <form th:action="@{'/admin/pendingPosts/approve/'+ ${item.id}}" method="post">
                        <div style="display: inline-block"><input type="submit" value="Approve" name="action" class="btn btn-success" th:value="#{Approve}"></div>
                    </form>
                </div>
                <div style="display: inline-block">
                    <form th:action="@{'/admin/pendingPosts/reject/'+ ${item.id}}" method="post">
                        <div style="display: inline-block"><input type="submit" value="Reject" name="action" class="btn btn btn-danger" th:value="#{Reject}"></div>
                    </form>
                </div>

            </div>

        </div>


    </div>
    <br>



</div>

</body>
</html>