<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>User Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">

    <h2 th:text="#{User.Search}">User Search</h2>

    <div class="card" style="border: darkgray solid 1px ;margin: auto auto">
        <div class="card-body" >

            <div class="card-textcol-md-12 col-sm-12" >
                <form modelAttribute="userSearchDto" th:object="${userSearchDto}" method="post">


                    <p><span th:text="#{Name}">Name</span> : <input type="text" th:field="*{name}"/></p>

                    <p><span th:text="#{Email}">Email</span> : <input type="text" th:field="*{email}"/></p>
                    <p><span th:text="#{Is.Active}">Is Active</span> : <input type="checkbox" th:field="*{active}" /></p>
                    <button type="submit" class="btn btn-primary" th:value="#{Search}">Search</button>

                </form>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col"><span th:text="#{Name}">Name</span>  </th>
            <th scope="col"><span th:text="#{Email}">Email</span> </th>
            <th scope="col"><span th:text="#{Is.Active}">Is Active</span> </th>


            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.nameIsActive}"></td>
            <td>
                <div th:if="${user.active}">
                    <form th:action="@{'/admin/users/disable/'+ ${user.id}}" method="post">
                        <div style="display: inline-block">
                            <button class="btn btn-danger" type="submit" th:value="#{Disable}">Disable</button>
                        </div>
                    </form>
                </div>
                <div th:unless="${user.active}">
                    <form th:action="@{'/admin/users/enable/'+ ${user.id}}" method="post">
                        <div style="display: inline-block">
                            <button class="btn btn-success" type="submit" th:value="#{Enable}">Enable</button>
                        </div>
                    </form>
                </div>
            </td>
            <td>

            </td>
        </tr>

        </tbody>
    </table>


</div>

</body>
</html>