<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:text="${item.postText}">

</div>
<br>

<div>

    <div>
        <form th:action="@{'/admin/pendingPosts/approve/'+ ${item.id}}" method="post">
            <div style="display: inline-block"><input type="submit" value="Approve" name="action"></div>
        </form>
    </div>
    <div>
        <form th:action="@{'/admin/pendingPosts/reject/'+ ${item.id}}" method="post">
            <div style="display: inline-block"><input type="submit" value="Reject" name="action"></div>
        </form>
    </div>

</div>

<br>
<div>
    <a href="/admin/pendingPosts">Back</a>
</div>

</body>
</html>