<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	</head>
<body>
<h2>Edit advertisement</h2>
<form>
	Advertisement name :
	<input type="text" name="adName"><br>
	<img src="/uploads/user-post.jpg"/><br>
	AgeFrome : <input type="text" name="ageFrom"> <br>
	AgeTo : <input type="text" name="ageTo"><br>
	Active <input type="radio" name="isActive" value="active">
	Not Active <input type="radio" name="isActive" value="notActive"> <br>

	Male <input type="radio" name="gender" value="active">
	Female <input type="radio" name="gender" value="notActive">
	All <input type="radio" name="gender" value="All"><br>
	<input type="submit" value="save">
</form>
</body>
</html>