<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>itweet Social Network - Home</title>
<base href="/">
<link rel="icon" href="images/fav.png" type="image/png" sizes="16x16">
<link rel="stylesheet" href="css/main.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/color.css">
<link rel="stylesheet" href="css/responsive.css">
<link rel="stylesheet" href="css/styles2.css">

</head>

<body th:with="userPhoto=(${user.PhotoUrl} == null)? 'images/profile-photo.png' : ${user.PhotoUrl}">
	<div class="theme-layout">
		<div th:fragment="header">
			<div class="responsive-header">
				<div class="mh-head first Sticky">
					<span class="mh-text"> <a href="/" title=""><img
							src="images/logo2.png" alt=""></a>
					</span>
				</div>
				<div class="mh-head second">
					<form class="mh-form">
						<input placeholder="search" /> <a href="#/" class="fa fa-search"></a>
					</form>
				</div>
			</div>
			<!-- responsive header -->

			<div class="topbar stick">
				<div class="logo">
					<a href="/"><img src="images/logo.png" alt=""></a>
				</div>

				<div class="top-area">
					<ul class="setting-area">
						<li><a href="#" title="Search Posts"><i class="ti-search"></i></a>
							<div class="searched">
								<form method="post" class="form-search">
									<input type="text" placeholder="Search Posts">
									<button data-ripple>
										<i class="ti-search"></i>
									</button>
								</form>
							</div></li>
						<li><a href="#" title="Notification"> <i class="ti-bell"></i><span>1</span>
						</a>
							<div class="dropdowns">
								<span>1 New Notifications</span>
								<ul class="drops-menu">
									<li><a href="/notifications" title=""> <img
											src="images/profile-photo.png">
											<div class="mesg-meta">
												<h6>John Doe</h6>
												<span>Posted: Life is full of surprises</span> <i>2
													min ago</i>
											</div>
									</a> <span class="tag green">New</span></li>
								</ul>
								<a href="/notifications" title="" class="more-mesg">view
									all</a>
							</div></li>
						<li><a href="#" title="Languages"><i class="fa fa-globe"></i></a>
							<div class="dropdowns languages">
								<a href="/?lang=en"></i>English</a> <a
									href="/?lang=zh_CN">中文</a>
							</div></li>
					</ul>
					<div class="user-img">
						<img th:src="${userPhoto}">
						<div class="user-setting">
						<a href="/profile" th:text="#{main.menu.viewProfile}"><i class="ti-user"></i> view profile</a>
						<a href="/edit-profile" th:text="#{main.menu.editProfile}"><i class="ti-pencil-alt"></i>edit profile</a>
						<a href="#" th:text="#{main.menu.accountSetting}"><i class="ti-settings"></i>account setting</a>
						<a href="/logout" th:text="#{main.menu.logout}"><i class="ti-power-off"></i>log out</a>
						</div>
					</div>
				</div>
			</div>
			<!-- topbar -->
		</div>
		<section>
			<div class="gap gray-bg">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="row" id="page-contents">
								<div class="col-lg-3" th:fragment="sidebar-left">
									<aside class="sidebar static">
										<div class="widget profile">
											<h4 class="widget-title">
												<a href="/profile">[[${user.name}]]</a>
											</h4>
											<div class="your-page">
												<figure>
													<a href="/profile" title=""><img th:src="${userPhoto}"></a>
												</figure>
												<div class="page-likes">
													<ul class="nav nav-tabs likes-btn">
														<li class="nav-item"><a class="active"
															href="/following">Following</a>
															<p>[[${CountFollowing}]]</p></li>
														<li class="nav-item"><a href="/following">Followers</a>
															<p>[[${CountFollower}]]</p></li>
													</ul>
													<h6>
														<a href="/profile" class="underline">View my profile</a>
													</h6>
												</div>
											</div>
										</div>
										<!-- page like widget -->
									</aside>
								</div>
								<!-- sidebar -->
								<div class="col-lg-6" th:fragment="posts">
									<div class="central-meta">
										<div class="new-postbox">
											<figure>
												<img th:src="${userPhoto}">
											</figure>
											<div class="newpst-input create-post">
												<form action="/post" th:object="${post}" method="post" enctype="multipart/form-data">
													<textarea th:field="*{postText}" rows="2" placeholder="What's on your mind?" minlength="3" maxlength="200" required title="min 3, max 200 characters"></textarea>
													<div class="attachments">
														<ul>
															<li><i class="fa fa-image"></i> <label
																class="fileContainer"> <input type="file" accept="image/x-png,image/jpeg,image/jpg"
                  th:field="*{image}">
															</label></li>
															<li><i class="fa fa-video-camera"></i> <label
																class="fileContainer"> <input type="file" accept="video/mp4,video/x-m4v,video/*"
                  th:field="*{video}">
															</label></li>
															<li>
																<button type="submit">Post</button>
															</li>
														</ul>
													</div>
												</form>
											</div>
										</div>
									</div>
									<!-- add post new box -->
									<div class="loadMore">
										<div th:each="post : ${posts}" class="central-meta item">
											<div class="user-post">
												<div class="friend-info">
													<figure>
														<a th:href="@{'/profile/'+${post.user.id}}"><img th:src="(${post.user.PhotoUrl} == null)? 'images/profile-photo.png' : ${post.user.PhotoUrl}"></a>
													</figure>
													<div class="friend-name">
														<ins>
															<a th:href="@{'/profile/'+${post.user.id}}" th:attr="data-pid=${post.id}">[[${post.user.name}]]</a>
														</ins>
														<span>published: [[${post.publishDate}]]</span>
													</div>
													<div class="post-meta">
														<div class="description">
															<p th:text="${post.postText}"></p>
														</div>
														
														<img th:src="${post.imageUrl}">
														
														<div th:if="${post.videoUrl}" class="post-video">
															<video controls>
															  <source th:src="${post.videoUrl}" type="video/mp4">
															</video>
														</div>
														<div class="we-video-info">
															<ul>
																<li><span class="comment" data-toggle="tooltip"
																	title="Comments"> <i class="fa fa-comments-o"></i>
																		<ins>[[${post.commentCount}]]</ins>
																</span></li>
																<li><span class="like" data-toggle="tooltip"
																	title="like"> <i class="ti-heart"></i> <ins>[[${post.likeCount}]]</ins>
																</span></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="coment-area">
													<ul class="we-comet">
														<li th:if="${post.lastComment}">
															<div class="comet-avatar">
																<img src="images/profile-photo.png">
															</div>
															<div class="we-comment">
																<div class="coment-head">
																	<h5>
																		<a th:href="@{'/profile/'+${post.lastComment.user.id}}" th:attr="data-pid=${post.id}">[[${post.lastComment.user.name}]]</a>
																	</h5>
																	<span>[[${post.lastComment.creationDate}]]</span>
																</div>
																<p>[[${post.lastComment.commentText}]]</p>
															</div>
														</li>
														<li th:if="${post.commentCount} > 1"><a href="#" title="" class="showmore underline">more
																comments</a></li>
														<li class="post-comment">
															<div class="comet-avatar">
																<img src="images/profile-photo.png">
															</div>
															<div class="post-comt-box">
																<form method="post">
																	<textarea placeholder="Post your comment"></textarea>
																	<div class="comment-btn"><button type="submit">Post</button></div>
																</form>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- centerl meta -->
								<div class="col-lg-3" th:fragment="sidebar-right">
									<aside class="sidebar static">
										<div class="widget">
											<h4 class="widget-title">Advertisement</h4>
											<div class="adpholder">
												<a href="#" target="_blank"><img
													src="images/pholder.jpg" alt=""></a>
											</div>
										</div>
										<div class="widget">
											<h4 class="widget-title">People to follow</h4>
											<ul class="followers">
												<li th:each="user : ${PeopleYouMayKnow}">
													<figure>
														<img th:src="(${user.PhotoUrl} == null)? 'images/profile-photo.png' : ${user.PhotoUrl}">
													</figure>
													<div class="friend-meta">
														<h4>
															<a th:href="@{'/profile/'+${user.id}}">[[${user.name}]]</a>
														</h4>
														<a th:href="@{'/profile/'+${user.id}}" th:attr="data-userid=${user.id}" class="underline follow">Follow</a>
													</div>
												</li>
											</ul>
										</div>
										<!-- who's following -->
									</aside>
								</div>
								<!-- sidebar -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>

	<script src="js/main.min.js"></script>
	<script src="js/script.js"></script>
	<script src="js/map-init.js"></script>
</body>

</html>